@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, ui-sans-serif, system-ui, sans-serif;
  color: #0f172a;
  background: #f3e4dc;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
}